
{% extends "main.html" %} 
{%block content%}
{% comment %} <h5>Radhasoami Satsang beas<h5> {% endcomment %}
<br></br>
    <div>
         <h1>{{room.name}}</h1>
    </div>
{% endblock content%}

{% comment %}modify to show user2 on top on clicking i have to see his user details in a page and then on top i have button to go to chats  {% endcomment %}
{% comment %} and allow him to post any messages => i need a form here accepting maximum   {% endcomment %}
{% comment %} if in chat room show message typing box to him which is form as discussed above  {% endcomment %}
