{% extends 'main.html' %}

{% block content %}
{% if page == 'login'%}
<div>
     <form method="post" action="">
    {% csrf_token %}
      <label>Username:</label>
      <input type="text" name="username" placeholder="Enter Username"/>

      <label>Passwoed:</label>
      <input type="password" name="password" placeholder="Password"/>
      
      <input type="submit" value="Login" />
     </form>
     <p>have not signed up yet?</p>
<a href="{% url 'register' %}">Signup</a>
</div>
{% else %}
<div>
     <form method="post" action="">
    {% csrf_token %}
      {{form.as_p}}
      <input type="submit" value="Register" />
     </form>
     <p>already signed up yet?</p>
<a href="{% url 'login' %}">Login</a>
{% endif %}
</div>
{% endblock content %}
